*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style:none ;
}
.container{
    display: flex;
    padding: 5px 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.3px solid rgba(103, 103, 103, 0.282);
}
.container .logoContainer{
    /* border: 2px solid red; */
    padding: 10px;
} 
.container .logoContainer img{
    /* border: 2px solid blue; */
    width: 120px;
}
.container .listContainer{
    /* border: 2px solid red; */
    padding: 10px;
}
.container .listContainer ul{
    /* border: 2px solid blue; */
    padding: 10px;
    display: flex;
    gap: 35px;
}
.container .listContainer ul li{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
}
.container .listContainer ul li a{
    color: #000;
    text-decoration: none;
}
.container .listContainer ul li:nth-child(8) {
    background: #000;
    padding: 10px 20px;
    border-radius: 20px;
}
.container .listContainer ul li:nth-child(8) a{
    color: #fff;
}